$max-profile-pic-width: 250px;
$profile-pic-width: min(50%, $max-profile-pic-width);

// colors
$black: rgb(0, 0, 0);
$grey: rgb(238, 238, 238);
$pattern-color-1: rgb(228, 238, 137);
$pattern-color-2: rgb(73, 218, 174);
$pattern-color-3: rgb(253, 33, 85);
$pattern-color-4: rgb(255, 165, 0);
$pattern-color-5: rgb(100, 149, 237);
$theme-color: rgb(255, 203, 2);
$white: rgb(255, 255, 255);
