section {
  &.contact {
    // background-image: linear-gradient(
    //   to top right,
    //   rgb(86, 44, 88),
    //   rgb(12, 94, 117),
    //   rgb(110, 90, 49),
    //   rgb(255, 111, 0)
    // );

    background-image: url("../../images/portfolio/contact.jpg");

    .transparent-box {
      background-color: rgba($black, 0.4);
      border-radius: 6px;

      .input-box {
        position: relative;

        input,
        textarea {
          background-color: transparent;
          outline: none;
          border: 0;
          border-bottom: 1px solid rgba($white, 0.2);
          padding: 16px 0 8px 20px;
          width: 100%;
          color: $white;
          position: relative;
          @include transition(all 0.5s);

          &:focus,
          &:not(:placeholder-shown) {
            border-bottom-color: $theme-color;

            ~ {
              label {
                @include transform(translate(-25px, -18px));
                font-size: 12px;
              }

              label,
              i {
                color: $theme-color;
              }
            }
          }

          &::-webkit-input-placeholder {
            opacity: 0;
          }

          &:-ms-input-placeholder {
            opacity: 0;
          }

          &::-ms-input-placeholder {
            opacity: 0;
          }

          &::-moz-placeholder {
            opacity: 0;
          }

          &::placeholder {
            opacity: 0;
          }
        }

        label,
        i {
          color: $white;
          font-weight: 500;
          position: absolute;
          @include transition(all 0.5s);
        }

        i {
          left: 0;
          top: 18px;
        }

        label {
          top: 14px;
          left: 25px;
        }
      }

      .transparent-btn {
        color: rgba($white, 0.7);
        border-color: rgba($white, 0.7);
        @include box-shadow(none);
      }

      &:valid .transparent-btn.submit,
      .transparent-btn.submit:hover {
        color: $theme-color;
        border-color: $theme-color;
        font-weight: 500;
      }

      &:valid .transparent-btn.reset,
      .transparent-btn.reset:hover {
        color: $grey;
        border-color: $grey;
        font-weight: 500;
      }

      .social-connects {
        a {
          font-size: 30px;
          color: $white;

          + a {
            margin-left: 10px;
          }

          &:hover {
            color: $theme-color;
          }
        }
      }

      .about-table {
        .row {
          > div[class*="col"]:nth-of-type(odd) {
            font-weight: 500;
          }
        }
      }

      .name {
        font-weight: 600;
        color: $theme-color;
      }
    }
  }
}
